<div class="auth-container">
  <h1 class="page-title">Event Management</h1>
  <p>Manage your events efficiently below.</p>

  <div class="buttons">
    <a class="btn btn-success" href="/admin/events/new">Create New Event</a>
    <a class="btn btn-primary" href="/admin">Return Dashboard</a>
  </div>
</div>