<section class="auth-container">
  <h1 class="page-title">Gestion d'Événements</h1>
  <p>Gérez efficacement vos événements ci-dessous.</p>

  <div class="buttons">
    <a class="btn btn-success" href="/admin/events/new">Créer un Nouvel Événement</a>
    <a class="btn btn-primary" href="/admin">Revenir au Tableau</a>
  </div>
</section>
