<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Gestion d'Événements</title>
    <meta name="description" content="Gérez efficacement vos événements avec Nouvelle Ère Lissoise. Créez de nouveaux événements ou revenez au tableau de bord pour une gestion complète.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <section class="auth-container">
    <h1 class="page-title">Gestion d'Événements</h1>
    <p>Gérez efficacement vos événements ci-dessous.</p>

    <div class="buttons">
      <a class="btn btn-success" href="/admin/events/new">Créer un Nouvel Événement</a>
      <a class="btn btn-primary" href="/admin">Revenir au Tableau</a>
    </div>
  </section>
</body>
</html>