<div class="auth-container">
  <h1 class="page-title">Bienvenue sur le tableau de bord d'administration</h1>
  <p>Gérez votre application ici.</p>

  <div class="auth-actions">
    <%= button_to "Gérer les utilisateurs", admin_users_path, method: :get, class: 'btn btn-primary' %>
    <%= button_to "Accéder à la page des événements", admin_events_path, method: :get, class: 'btn btn-primary' %>
  </div>
</div>