<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>À Propos</title>
</head>
<body>
    <section class="page-container" id="about-container">
        <h1 class="page-title">À Propos</h1>
        <div class="page-content">
            <p>Bienvenue sur Nouvelle Ère Lissoise (NEL), une plateforme dédiée à la connexion de notre communauté à travers des événements et des expériences partagées.</p>

            <h2>Pourquoi Nous Collectons Vos Informations</h2>
            <p>Pour garantir la meilleure expérience à tous nos utilisateurs, nous collectons certaines informations personnelles :</p>
            <ul>
                <li><strong>Nom et Prénom :</strong> Cela nous aide à savoir qui vous êtes et nous permet de personnaliser votre expérience sur la plateforme.</li>
                <li><strong>Âge :</strong> Nous devons confirmer que vous avez l'âge légal pour participer à nos événements et activités.</li>
                <li><strong>Email :</strong> Votre email est utilisé pour les communications liées au compte, comme la réinitialisation de mot de passe ou les mises à jour sur les événements auxquels vous êtes inscrit.</li>
            </ul>

            <h2>Confidentialité et Nom d'Affichage</h2>
            <p>Vous avez la possibilité d'afficher votre vrai nom ou d'utiliser un pseudonyme sur la plateforme. Cependant, pour des raisons de sécurité et de gestion, votre vrai nom sera visible par les Admins et Super Admins.</p>

            <h2>Contactez-Nous</h2>
            <p>Si vous avez des questions ou des préoccupations concernant votre vie privée ou les informations que nous collectons, n'hésitez pas à nous contacter.</p>
        </div>
    </section>
</body>
</html>