<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <title>Nouvelle Commande</title>
  </head>
  <body>
    <section class="order-details">
      <p>Nouvelle commande reçue de <%= @order.name %> !</p>
      <div class="order-info">
        <strong>Détails de la Commande :</strong>
        <hr>
        <p>Nom : <%= @order.name %></p>
        <p>Email : <%= @order.email %></p>
        <div class="order-message">
          <strong>Message :</strong>
          <hr>
          <p><%= @order.message %></p>
        </div>
      </div>
    </section>
  </body>
</html>